@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
 .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.scrollbar-none::-webkit-scrollbar {
    display: none;
}
.overthumbnail{
    font-size: 20px;
    font-weight: 700;
    padding: 6px;
    width: max-content;
    position: absolute;
    top: 10%;
    left: 5%;
}
.containerme {
    scroll-snap-type: x mandatory !important;
}
html {
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    color: var(--main);
}
body {
    background-color: black;
    font-family: 'Raleway', sans-serif;
    color: white;
    width: 100%;
    height: 100%;
}
p {
    color: white;
    
}
.searchbox{
	border-color: #464646;
    border-style: solid;
    background-color: #464646;
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 2rem;
    width: 50%;
}
.searchboxinput{
	background-color: #464646;color: white;font-size: 32px;border-color: #464646;margin: 10px;
}
.lockicon{
	position: absolute;
    top: 5%;
    left: 3%;
}
.vertical-card {
    width: 332px;
    height: 488px;
    object-fit: cover;
    border-radius: 10px;
}
.videocard {
    width: 500px;
    height: 281px;
    object-fit: contain;
    border-radius: 12px;
}
.shortstitle{
	font-size: 24px;
	font-weight: 500;
	position: absolute;
	bottom: -8px;
	padding-left: 5px;
    padding-right: 5px;
}
.shortsplayicon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card:focus {
    border: 5px solid white;
    border-radius: 10px;
    outline-style: none;
    -webkit-transition: all .2s;
    transition: all .4s;
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
.main {
    background-color: black;
    height: 100%;
}
.title {
    font-weight: 700;
    font-size: 40px;
    padding-top: 1rem;
}
.sideBar {
    max-height: 100%;
}
.newbutton {
    background-color: #282828;
    color: white;
    outline: none;
    outline-style: none;
    transition: background-color 1s, color 1s;
}
.newbutton:hover,
.newbutton:focus {
    background-color: white;
    color: #FB8044;
}
.watchlivebutton {
    height: 6rem;
    border: none;
    font-weight: 700;
    font-size: 32px;
    width: 25%
}
.starttrialbutton {
    width: 110%;
    height: 7rem;
    border: none;
}
.fullbutton {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
    transition: all .5s;
    position: absolute;
    right: 7rem;
    top: 30rem;
}
.fullbuttonbefore {
    z-index: 2;
}
.fullbuttonbefore:hover,
.fullbuttonbefore:focus {
    opacity: 0;
}
.fullbuttonafter {
    z-index: 1;
}
.splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #447EFB;
    z-index: 200;
    color: white;
    text-align: center !important;
    line-height: 280vh;
    transition: 0.1s;
}
.splash.move-up {
    position: fixed;
    top: 0;
    opacity: 1;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #447EFB;
    z-index: 200;
    color: white;
    text-align: center;
    line-height: 90vh;
    transition: 0.3s;
}
.splash.remove {
    position: fixed;
    top: 0;
    opacity: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #447EFB;
    z-index: 200;
    color: white;
    text-align: center;
    line-height: 90vh;
    transition: 0.3s;
}
i {
    font-size: 3.0rem;
}
a {
    color: white;
}
.logo {
    overflow: hidden;
    transition-duration: 0.5s;
    transition-property: transform;
}
.logo.spin {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
ul li a:focus {
    background-color: #4C4C4C !important;
    padding: 20%;
    outline-style: none;
}
/* Home Icon */

.nav-icons:focus .bi-house-door,
.nav-icons .bi-house-door-fill {
    display: none;
}
.nav-icons:focus .bi-house-door-fill {
    display: inline;
}
/* ********************* */

/* Calendar Icon */

.nav-icons:focus .bi-calendar,
.nav-icons .bi-calendar-fill {
    display: none;
}
.nav-icons:focus .bi-calendar-fill {
    display: inline;
}
/* ********************* */

/* Person Icon */

.nav-icons:focus .bi-person,
.nav-icons .bi-person-fill {
    display: none;
}
.nav-icons:focus .bi-person-fill {
    display: inline;
}
/* ********************* */

/* Bookmark Icon */

.nav-icons:focus .bi-bookmark,
.nav-icons .bi-bookmark-fill {
    display: none;
}
.nav-icons:focus .bi-bookmark-fill {
    display: inline;
}
/* ********************* */

/* Video Icon */

.nav-icons:focus .bi-camera-video,
.nav-icons .bi-camera-video-fill {
    display: none;
}
.nav-icons:focus .bi-camera-video-fill {
    display: inline;
}
/* ********************* */

/* Settings Icon */

.nav-icons:focus .bi-gear,
.nav-icons .bi-gear-fill {
    display: none;
}
.nav-icons:focus .bi-gear-fill {
    display: inline;
}
/* ********************* */

.nav-icons {
    color: white !important;
    background-color: rgba(255, 255, 255, 0) !important;
}
.nav-item {
    background-color: #383838;
    margin: -1px;
}
.nav-link {
    border-bottom: 0px solid black !important;
}
#home,
#schedule,
#profile,
#settings {
    border-bottom: 0px solid black !important;
}
h1,
h2,
h3,
h4 {
    color: white;
    white-space: initial;
}
#coloredheading {
    text-align: left;
    font-weight: bold !important;
    width: 100%;
    background: -webkit-linear-gradient(180deg, #F97C3E 10%, #447EFB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
}
.card {
    background-color: black;
}
.item {
    display: inline-block;
    width: 480px;
    margin: 10px 10px 10px 10px;
    background-size: cover;
}
.item div {
    width: 100%;
    /* top:10%; */
    /* position:absolute; */
    /* text-align:center; */
    font-size: 9em;
    color: white;
}
.carouselme {
    display: block;
    width: 100%;
    /* height: 400px; */
    /* background: white; */
    /* overflow-x: scroll; */
    padding: 10px;
    margin: 0;
    white-space: nowrap;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.containerme {
    width: 100%;
    display: block;
    overflow: hidden;
}
/* Settings */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 8.3%;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    /* padding: 8px 8px 8px 32px; */
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
/* Settings End */

#languageButtons {
    color: white !important;
    font-size: 1.2vw !important;
    line-height: 18px !important;
    font-weight: 400 !important;
    padding: auto !important;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    margin-left: 54px !important;
    margin-right: 54px !important;
    border: none;
}
#main-video {
    background-color: black;
    height: 100%;
}
#ShortsMainSection {
    padding: 0;
}
#latestMainSection {
    margin-top: 0%;
}
#trendingMainSection {
    margin-top: 0%;
    padding-left: 0;
}
#tvShowsMainSection {
    margin-top: 0px;
    padding-left: 0;
}
#channelsMainSection {
    padding-left: 0;
}
.image-border {
    height: 2px;
    background: linear-gradient(270deg, #F97C3E 0%, #447EFB 100%);
}

/* Login/Signup page styling */

.parent{
		display: flex; 
		background-color: #000000; 
		color: #ffffff; 
		padding: 3rem;
		gap: 35rem; 
	}
	.subparent{
		display: flex; 
		flex-direction: column; 
		gap: 1.5rem; 
	}
	.parent .text{
		margin-top: 1rem;
		margin-bottom: 1rem; 
		font-size: 2.25rem;
		line-height: 2.5rem; 
		font-weight: 600; 
	}
	.parent .input{
		color: white;
		padding: 2rem; 
		font-size: 2.25rem;
		line-height: 2.5rem; 
		border-radius: 0.5rem; 
		background: #2B2B2B;
		width: 700px;
		height: 100px;
		outline-style: none;
	}
	.parent .desc{
		
	}
	.parent .button{
		color: white;
		padding: 2rem; 
		font-size: 2.25rem;
		line-height: 2.5rem; 
		font-weight: 600; 
		border-radius: 0.5rem; 
		background: #383838;
		width: 700px;
		height: 100px;
		outline-style: none;
		transition: background-color 0.5s, color 0.5s;
	}
	.parent .button:hover,
	.parent .button:focus{
		background-color: #ffffff; 
		color: #FB8044;	
	}
	.parent .input:hover,
	.parent .input:focus{
		outline-color: white;
	    outline-width: 2px;
	    outline-style: solid;
	}
	.deviceimg{
		margin-left: 3rem; 
		margin-top: 5rem; 
		width: 720px;
		height: 430px;
	}
