<section id="masr" style="margin-top: 0%;">
    <!-- Banners Row 
    <div class="focusable" onfocus="scrollToTop()" tabindex="-1"></div> -->
    <div class="swiper">
        <!-- Additional required wrapper -->
        <div id="banner" class="swiper-wrapper focusable" tabindex="-1"></div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev rotate180"></div>
    </div>

    <!-- Live Events Row -->
    <div style="padding-left:0;" id="LiveEventsMainSection" class="container-fluid">
        <div class="container-fluid">
            <div class="container-fluid">
                <h1 id="eventstitle" lang-value="events" class="title"></h1>
            </div>
            <div style="display: inherit;" class="containerme">
                <div id="events" class="carouselme"></div>
            </div>
        </div>
    </div>

    <!-- Shorts Row -->
    <div id="ShortsMainSection">
        <div class="container-fluid">
            <div class="container-fluid">
                <h1 lang-value="shorts" class="title"></h1>
            </div>
            <div style="display: inherit;" class="containerme">
                <div id="shorts" class="carouselme"></div>
                <div style="display: none;" id="pagination"></div>
            </div>
        </div>
    </div>

    <!-- Latest Row -->
    <div style="padding-left:0;" id="latestMainSection" class="container-fluid">
        <div class="container-fluid">
            <div class="container-fluid">
                <h1 lang-value="latest" class="title"></h1>
            </div>
            <div style="display: inherit;" class="containerme">
                <div id="latest" class="carouselme"></div>
            </div>
        </div>
    </div>

    <!-- Trending Row -->
    <div style="padding-left:0;" id="trendingMainSection" class="container-fluid">
        <div class="container-fluid">
            <div class="container-fluid">
                <h1 lang-value="trending" class="title"></h1>
            </div>
            <div style="display: inherit;" class="containerme">
                <div id="trending" class="carouselme"></div>
            </div>
        </div>
    </div>

    <!-- Channels Row -->
    <div id="channelsMainSection" class="container-fluid">
        <div style="margin-top: 0px;" class="container-fluid">
            <div style="margin-top: 0px;" class="container-fluid">
                <h1 lang-value="channels" class="title"></h1>
            </div>
            <div style="display: inherit;" class="containerme">
                <div id="channels" class="carouselme"></div>
                <div style="display: none;" id="pagination"></div>
            </div>
        </div>
    </div>


    <!-- Shows Row -->
    <div id="tvShowsMainSection" class="container-fluid">
        <div style="margin-top: 0px;" class="container-fluid">
            <div style="margin-top: 0px;" class="container-fluid">
                <h1 lang-value="tvshows" class="title"></h1>
            </div>
            <div style="display: inherit;" class="containerme">
                <div id="shows" class="carouselme"></div>
                <div style="display: none;" id="pagination"></div>
            </div>
        </div>
    </div>

</section>

<script src="js/client/home.js"></script>
<script src="js/client/newbanner.js"></script>
<script src="js/client/liveevents.js"></script>
<script src="js/client/shorts.js"></script>
<script src="js/trendingandlatest.js"></script>
<script src="js/channelsandshows.js"></script>

<script>
</script>

