	<div id="parentone" class="parent">
        <div class="subparent">
        	<img style="width: 250px;" src="img/smashi_logo.png"> 
            <p class="text"> Login </p>
            <input type="email" placeholder="Email Address" class="input focusable" id="loginemailinput">
            <input type="password" placeholder="Password" class="input focusable" id="loginpasswordinput">
            <button class="button focusable" onclick="newLogin()"> Login </button>
            <p style="text-align: center; font-size: 40px;"> Don't have an account? </p>
            <button class="button focusable" onclick="toSignup()"> Sign up </button>
        </div>
        <div>
            <p class="text"> Scan Me </p>
        </div>
    </div>  

<script src="js/client/login.js"> </script>