	<div id="parentone" class="parent" style="gap: 15rem;">
        <div class="subparent" style="padding-inline-end: 2rem; border-inline-end: white solid 1px;">
        	<img style="width: 250px;" src="img/smashi_logo.png"> 
            <p class="text" lang-value="accountlogin"> </p>
            <input type="email" placeholder="" class="input focusable" id="loginemailinput">
            <input type="password" placeholder="" class="input focusable" id="loginpasswordinput">
            <button class="button focusable" onclick="newLogin()" lang-value="accountlogin"> </button>
            <p style="text-align: center; font-size: 40px;" lang-value="noaccount"> </p>
            <button class="button focusable" onclick="toSignup()" lang-value="accountregister"> </button>
        </div>
        <div class="qrcodearea">
            <p class="text" lang-value="scanme"></p>
            <div id="qrcode"></div>
            <div>
            	<span class="text" style="font-weight: 400;" lang-value="qrtext1"> </span>
            	<span class="text" style="font-weight: 700;" lang-value="qrtext2"> </span>
            </div>
            <div>
            	<span class="text" style="font-weight: 400;" lang-value="qrtext3">  </span>
            	<span class="text" style="font-weight: 700;" lang-value="qrtext4"> </span>
            </div>
        </div>
    </div>  

<script src="js/client/login.js"> </script>