<section>
	<video id="video_player" autoplay></video>
</section>

<script>
	var vid = document.querySelector('#video_player');
	var url = '';
	url = sessionStorage.getItem('video_url');
            if (Hls.isSupported()) {
                var hls = new Hls();
                hls.loadSource(url);
                hls.attachMedia(video_player);
                hls.on(Hls.Events.MANIFEST_PARSED, function () {
                	vid.play();
                });
            }
    document.addEventListener('keydown', function (e) {
                switch (e.keyCode) {
                    case tvKey.MediaPlayPause:
                    	if (vid.paused){
                    		console.log('Video playing');
                    		vid.play();
                    	}
                    	else if(!vid.paused){
                    		console.log('Video paused');
                    		vid.pause();
                    	}
                        break;
                    case tvKey.MediaPlay:
                        vid.play();
                        break;
                    case tvKey.MediaPause:
                        vid.pause();
                        break;
                }
            })
</script>

<style>
    #video_player {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
</style>