<section>
    <div id="left" class="split left">
        <div class="leftTextBox ">
            <span class="premText gap-6-col"> Premium </span>
        </div>
        <div class="plan focusable gap-6-col" tabindex="1">
            <div style="display: flex;">
                <span class="gap-6-row" style="font-size: 32px;" lang-value="yearly">  </span>
                <span class="mostpopular" lang-value="mostpopular">  </span>
            </div>
            <span class="" style="font-size: 40px;" lang-value="180aed">  </span>
        </div>
        <div class="plan focusable gap-6-col" tabindex="1">
            <span class="" style="font-size: 32px;" lang-value="monthly">  </span>
            <span class="" style="font-size: 40px;" lang-value="18aed">  </span>
        </div>
    </div>

    <div id="right" class="split right">
        <div class="centered rightText">
            <div class="rightTextBox">
                <svg class="gap-6-row" width="41" height="32" viewBox="0 0 41 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.5608 24.9394L4.03449 15.4131L0.790527 18.6342L13.5608 31.4044L40.9746 3.99065L37.7535 0.769531L13.5608 24.9394Z" fill="#FF8D55" />
                </svg>
                <span lang-value="premText2"> </span>
            </div>
            <div class="rightTextBox">
                <svg class="gap-6-row" width="41" height="32" viewBox="0 0 41 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.5608 24.9394L4.03449 15.4131L0.790527 18.6342L13.5608 31.4044L40.9746 3.99065L37.7535 0.769531L13.5608 24.9394Z" fill="#FF8D55" />
                </svg>
                <span lang-value="premText3"> </span>
            </div>
            <div class="rightTextBox">
                <svg class="gap-6-row" width="41" height="32" viewBox="0 0 41 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.5608 24.9394L4.03449 15.4131L0.790527 18.6342L13.5608 31.4044L40.9746 3.99065L37.7535 0.769531L13.5608 24.9394Z" fill="#FF8D55" />
                </svg>
                <span lang-value="premText4"> </span>
            </div>
            <div class="rightTextBox">
                <svg class="gap-6-row" width="41" height="32" viewBox="0 0 41 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.5608 24.9394L4.03449 15.4131L0.790527 18.6342L13.5608 31.4044L40.9746 3.99065L37.7535 0.769531L13.5608 24.9394Z" fill="#FF8D55" />
                </svg>
                <span lang-value="premText5"> </span>
            </div>
        </div>
    </div>
</section>

<style>
    .plan{
    		text-decoration: none;
    	    display: flex;
    	    flex-direction: column;
    	    gap: 1rem;
    	    border-radius: 4px;
    	    border-color: #383838;
    	    border-width: 3px;
    	    border-style: solid;
    	    width: 8.5in;
    	    font-weight: 600;
    	    padding: 1rem;
    	    transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
    	}
    	.plan:hover,
    	.plan:focus
    	{
    		border-color: #FFFFFF;
    		border-width: 4px;
    		width: 9in;
    		background-color: #383838;
    		color: white;
    	}
    	.mostpopular{
    		    font-size: 24px;
        background-color: #FB8044;
        border-radius: 26px;
        width: max-content;
        padding: 8px;
    	}
        .leftTextBox{
        		display: flex;
    		    flex-direction: column;
    		    gap: 1rem;
    		    			
        	}
            .rightTextBox{
            		display: flex;
            		margin-bottom: 5rem;
            		gap: 1rem;
            		align-items: center;
            		width: max-content;
            	}
            	.rightText{
            		font-size: 32px;
            	}
            	.premText{
            	        background-color: #5483EA;
        			    padding: 6px;
        			    max-width: fit-content;
        			    font-size: 40px;
        			    border-radius: 4px;
            	}
                .split {
        	          height: 100%;
        	          position: fixed;
                }
                
                /* Control the left side */
                .left {
                        width: 56%;
    				    display: flex;
    				    flex-direction: column;
    				    gap: 3rem;
    				    left: 9rem;
    				    top: 6rem;
                }
                .left[dir="rtl"] {
    				    right: 9rem;
                }
                
                /* Control the right side */
                .right {
                  right: 0;
                  width: 44%;
                  background-image: url("img/graphics.png");
                  background-repeat: no-repeat; 
                }
                .right[dir="rtl"]{
                	left: 0;
                }
                
                /* If you want the content centered horizontally and vertically */
                .centered {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  text-align: center;
                }
</style>

<script>
//let myLanguage = sessionStorage.getItem("locale");
if (myLanguage == 'ar'){
	console.log("Test");
	document.getElementById("right").style.left = "0";
	document.getElementById("right").style.right = "auto";
	document.getElementById("left").style.right = "9rem";
}
require(["router"], function (router) {
	router.showSideBar();
});
</script>


