<div id="parenttwo" class="parent">
    <div class="subparent" style="padding: 3rem;">
        <img style="width: 250px;" class="gap-6-col" src="img/smashi_logo.png">
        <p class="text gap-6-col" lang-value="accountregister"></p>
        <input type="email" placeholder="" class="input focusable gap-6-col" id="registeremailinput">
        <input type="password" placeholder="" class="input focusable gap-6-col" id="registerpasswordinput">
        <input type="text" placeholder="" class="input focusable gap-6-col" id="registernameinput">
        <button class="button focusable gap-6-col" onclick="newRegister()" lang-value="accountregister"></button>
        <p style="text-align: center; font-size: 40px;" class="gap-6-col" lang-value="alreadyhaveaccount"></p>
        <button class="button focusable gap-6-col" onclick="toLogin()" lang-value="accountlogin"></button>
    </div>
    <div class="registerbanner">
	    <div class="subparent" style="align-items: center;">
		    <div style="margin-block-end: 5rem;">
				<p class="" style="font-weight: 700; font-size: 2.25rem;" lang-value="showsandmore"></p>
	            <p class="" style="font-size: 1.5rem; margin-bottom: 0;" lang-value="catchgames"></p>
				<p class="" style="font-size: 1.5rem;" lang-value="streamlive"></p>
	        </div>
	        <img src="img/devices_graphics.png" class="deviceimg">
	    </div>
    </div>
</div>

<script src="js/client/register.js"> </script>