<section>
    <div id="searchBox" class="container">
        <div class="input-group mb-3 searchbox">
            <i style="margin: 20px;" class="bi-search"></i>
            <input type="text" class="form-control focusable"
			placeholder="Search for videos, episodes and shows"
            style="background-color: #464646;color: white;font-size: 32px;border-color: #464646;margin: 10px;">
            <script>
                require(['client/search'], function (search) {
                    var objecto = document.getElementsByClassName(" form-control ")[0];
                    objecto.oninput = function () {
                        search.getSearchResults(1, 12)
                    }
                });
            </script>
        </div>
    </div>

    <div id="searchBoxArabic" class="container">
        <div class="input-group mb-3 searchbox">
            <i style="margin: 20px;" class="bi-search"></i>
            <input type="text" class="form-control focusable"
			placeholder="ابحث عن المقاطع, الحلقات و البرامج"
            style="background-color: #464646;color: white;font-size: 32px;border-color: #464646;margin: 10px;">
            <script>
                require(['client/search'], function (search) {
                    var objecto = document.getElementsByClassName("form-control")[1];
                    objecto.oninput = function () {
                        search.getSearchResults(1, 12)
                    }
                });
            </script>
        </div>
    </div>




    <div style="padding-top: 0%;display: inherit; padding-left:0;" id="latestMainSection" class="container-fluid">
        <div style="margin-top: 2%;" class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div style="display: inherit;" class="containerme">
                        <div id="getSearchResults" class="carouselme"></div>
                        <div style="display: none;" id="pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var myLanguage = sessionStorage.getItem("locale");
    if(myLanguage == 'ar'){
        document.getElementById("searchBox").style.display = "none";
        document.getElementById("searchBoxArabic").style.display = "initial";
    } else{
        document.getElementById("searchBox").style.display = "initial";
        document.getElementById("searchBoxArabic").style.display = "none";
    }
    var checkIndex = 0;
    function checkLockSearch(checker) {
	    console.log("in checker");
	    var hasSubscription = sessionStorage.getItem("hasSubscription");
	    if (checker == 1 || hasSubscription == "true") {
	        console.log("in checker cond");
	        document.getElementsByClassName('lockicon')[checkIndex].style.display = "none";
   		}
   		if(checkIndex == document.getElementsByClassName('lockicon').length - 1){
   			checkIndex = 0;
   		}
   		else{
   			checkIndex++;
   		}
	}
	require(['client/search'], function (search) {
        search.searchVideoWatch();
    });
</script>
