<section>
    <div id="ShowDetailsPage">
        <div id="topSection">
            <div id="showDetailsBanner">
            </div>
        </div>
        <div id="episodesrow" class="row">
            <div class="col-12">
                <div style="margin-top: 0px;" class="container-fluid">
                    <h1 lang-value="episodes" class="title"></h1>
                </div>
                <div style="display: inherit;" class="containerme">
                    <div id="episodes" class="carouselme"></div>
                    <div style="display: none;" id="pagination"></div>
                </div>
            </div>
        </div>
        <div id="clipsrow" class="row">
            <div class="col-12">
                <div style="margin-top: 0px;" class="container-fluid">
                    <h1 lang-value="clips" class="title"></h1>
                </div>
                <div style="display: inherit;" class="containerme">
                    <div id="clips" class="carouselme" style="margin-bottom: 4rem;"></div>
                    <div style="display: none;" id="pagination"></div>
                </div>
            </div>
        </div>

        <div id="tvShowsMainSection" class="container-fluid">
            <div style="margin-top: 0px;">
                <div class="row">
                    <div class="col-12">
                        <div style="margin-top: 0px;" class="container-fluid">
                            <h1 lang-value="more" class="title"></h1>
                        </div>
                        <div style="display: inherit;" class="containerme">
                            <div id="tvShows" class="carouselme"></div>
                            <div style="display: none;" id="pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="js/showdetails.js"></script>
<script src="js/channelsandshows.js"></script>


