<section>
    <div style="padding-top: 0%;display: inherit; padding-left:0;" id="latestMainSection" class="container-fluid">
        <div style="margin-top: 2%;" class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="container-fluid">
                        <h1 lang-value="latest" class="title"></h1>
                    </div>
                    <div style="display: inherit;" class="containerme">
                        <div id="latest" class="carouselme"></div>
                        <div style="display: none;" id="pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="trendingMainSection" class="container-fluid">
        <div style="margin-top: 0%;" class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="container-fluid">
                        <h1 lang-value="trending" class="title"></h1>
                    </div>
                    <div style="display: inherit;" class="containerme">
                        <div id="trending" class="carouselme"></div>
                        <div style="display: none;" id="pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="js/trendingandlatest.js"></script>