<section>
<!-- Channels Row -->
    <div id="channelsMainSection" class="container-fluid">
        <div style="margin-top: 0px;" class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div style="margin-top: 0px;" class="container-fluid">
                        <h1 lang-value="channels" class="title"></h1>
                    </div>
                    <div style="display: inherit;" class="containerme">
                        <div id="channels" class="carouselme"></div>
                        <div style="display: none;" id="pagination"></div>
                    </div>
                </div>
            </div> 
        </div>
    </div>


    <!-- Shows Row -->
     <div id="tvShowsMainSection" class="container-fluid">
        <div style="margin-top: 0px;" class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div style="margin-top: 0px;" class="container-fluid">
                        <h1 lang-value="tvshows" class="title"></h1>
                    </div>
                    <div style="display: inherit;" class="containerme">
                        <div id="shows" class="carouselme"></div>
                        <div style="display: none;" id="pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div style="padding-left:0;" id="latestMainSection" class="container-fluid">
        <div style="display: inherit;" class="containerme">
            <div id="watch" class="carouselme"></div>
            <div class="focusable" tabindex="-1"></div>
        </div>
    </div>
</section>

<script src="js/channelsandshows.js"> </script>
<script src="js/client/watch.js"> </script>
